<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sakura</key>
	<string>http://160.16.63.151:70</string>
	<key>home</key>
	<string>http://192.168.0.10:3000</string>
	<key>neymar</key>
	<string>http://10.10.25.142:3000</string>
	<key>api_images_create</key>
	<string>/api/images.json</string>
	<key>api_image_delete</key>
	<string>/api/images/</string>
	<key>api_images_index</key>
	<string>/api/images.json</string>
	<key>api_images_update</key>
	<string>/api/images/</string>
	<key>base</key>
	<string>http://10.10.25.142:3000</string>
	<key>destroy_user_session</key>
	<string>/users/sign_out.json</string>
	<key>user_registration</key>
	<string>/users.json</string>
	<key>user_session</key>
	<string>/users/sign_in.json</string>
</dict>
</plist>
